@model WebAppMVC2.Models.Teste.ItensGridViewModel

<form asp-controller="Teste" asp-action="Editar">
    <a asp-controller="Teste" asp-action="NovaTela" class="btn btn-primary">Voltar</a>
    <br />
    <button type="submit" class="btn btn-danger">Salvar <i class=""></i></button>
    <div class="col-6">
        @Html.HiddenFor(c => c.Id)
        <label for="Nome">Nome</label>
        @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
        <br />
        <label for="Quantidade">Quantidade</label>
        @Html.TextBoxFor(c => c.Quantidade, new { @class = "form-control" })
    </div>
</form>